body{
    font-family: 'Poppins', sans-serif;
    color: rgb(61, 61, 61);
    margin: 0;
}
.flexible-section{
    display: flex;
    margin-bottom: 100px;
}
.collum{
    width: 50%;
    padding-left: 5%;
    margin: 0;
}
.collum img{
    width: 90%;
}
.head-color{
    color: rgb(0, 140, 255);
}
h1{
    font-size: 50px;
    font-weight: 800;
}
h2{
    font-size: 40px;
    margin-bottom: 0;
}
p{
    margin-bottom: 30px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient( #6fbcff, #0286F6);
    padding: 10px 30px;
    font-weight: 700;
    color: white;
    border-radius: 50px;
}
#second-section{
    background-image: url(bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.blog-text{
    text-align: center;
}
.recipies{
    width: 26%;
    box-shadow: 10px 10px 40px gray;
    margin: 3%;
    padding: 10px;
    border-radius: 25px;
}
.recipies img{
    width: 100%;
    border-radius: 25px;
    height: 40%;
}

.menu-bar{
    display: flex;
    background-image: linear-gradient( #6fbcff, #0286F6);
    height: 61px;
    padding-bottom: 0;
    
}
.logo img{
    height: 100%;
    padding-left: 20px;
    width: 12%;
}
.logo{
    width: 50%;
}
.menu-items{
    width: 50%;
    text-align: right;
    margin-top: 15px;  
}
.menu-item{
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: 500;
    padding: 20px; 
}

.menu-item:hover{
    background-color: white;
    color: #6fbcff;
    
    
}